body{
    /*background-color: #ebebeb;*/
    background-color: #ffffff;
    /*background-image:url("/image/blue-bg.jpg");*/
    background-color: #cccccc;
}
/*.navbar-default{*/
    /*height: 87px;*/
    /*left: 0;*/
    /*overflow: hidden;*/
    /*position: fixed;*/
    /*right: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: inherit;*/
/*}*/
.sticky-navbar{
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
    vertical-align: baseline;
    min-height: 65px;
    background-color:#fff;
    opacity: 0.95;
}
/*.navbar-default{*/
    /*background-color: #fff;*/
    /*border-radius: 2px;*/
    /*box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.26);*/
    /*padding: 26px 41px;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*margin: 0 auto;*/
    /*position: relative;*/
    /*border: 0 none;*/
    /*font: inherit;*/
    /*vertical-align: baseline;*/
    /*color: #000000;*/
/*}*/
#wrap {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.26);
    padding: 20px 35px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    border: 0 none;
    font: inherit;
    vertical-align: baseline;
    margin: 70px auto 0;
    min-height: 500px;

}
.well{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.26);
    padding: 26px 41px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    border: 0 none;
    font: inherit;
    vertical-align: baseline;
}
#scroll-top {
    background: #000 none repeat scroll 0 0;
    border-radius: 6px;
    bottom: 10px;
    color: #fff;
    display: none;
    opacity: 0.9;
    padding: 5px 7.5px;
    position: fixed;
    right: 10px;
    z-index: 10000;
    border: 0 none;
    font: inherit;
    margin: 0;
    vertical-align: baseline;
}
/*Button*/
.myButton {
    -moz-box-shadow:inset 0px 0px 14px -3px #f2fadc;
    -webkit-box-shadow:inset 0px 0px 14px -3px #f2fadc;
    box-shadow:inset 0px 0px 14px -3px #f2fadc;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
    background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
    background-color:#dbe6c4;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:1px;
    border:2px solid #b2b8ad;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    padding: 3px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ced9bf;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
    background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
    background-color:#9ba892;
}
.myButton:active {
    position:relative;
    top:1px;
}

/*Button*/