.page-top {
    background-color: rgba(0,0,0,.5);
    background-color: rgba(0,0,0,.85);
    background-color: #223F37;
    position: fixed;
    z-index: 904;
    box-shadow: 2px 0 3px rgba(0,0,0,.5);
    height: 66px;
    width: 100%;
    min-width: 320px;
    padding: 0 32px 0 40px;
    border: 0px;
    /*background-image: url("/images/blur-bg.jpg");*/
    color: #ffffff;
}
.sticky-navbar{
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
    vertical-align: baseline;
    min-height: 65px;
    background-color: #223F37;
    /*background-color:#fff;*/
    opacity: 0.95;
    border: 0px;
}
/*.navbar-toggle {*/
    /*position: relative;*/
    /*float: right;*/
    /*padding: 10px 10px;*/
    /*margin-top: 14px;*/
    /*margin-right: 0px;*/
    /*margin-bottom: 8px;*/
    /*background-color: transparent;*/
    /*background-image: none;*/
    /*border: 1px solid transparent;*/
    /*border-radius: 4px;*/
/*}*/
a.collapse-menu-link {
    font-size: 31px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    line-height: 42px;
    color: #fff;
    padding: 0;
    float: left;
    margin: 11px 0 0 25px;
}
.navbar-nav>li>a {
    padding-top: 22px;
    padding-bottom: 15px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
/*menu*/
ul li a:hover {
     background-color: #209e91;
     color: white;
 }
